<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.udacity.nanodegree.popularmovies1">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MoviesActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DetailsActivity"
            android:label="@string/movie_details"
            android:launchMode="singleTask"
            android:parentActivityName=".MoviesActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MoviesActivity" />
        </activity>
        <activity
            android:name=".ReviewsActivity"
            android:label="@string/movie_reviews"
            android:parentActivityName=".DetailsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".DetailsActivity" />
        </activity>

        <provider
            android:authorities="com.udacity.nanodegree.popularmovies1.data.MovieProvider"
            android:name="com.udacity.nanodegree.popularmovies1.data.generated.MovieProvider"
            android:exported="false"/>

    </application>

</manifest>